---
import { Image } from "astro:assets"
import aboutImg from "../assets/man-working.jpg"
import { lazy } from "astro:schema"
---

<section class="relative pb-20 overflow-hidden lg:pb-40 lg:pt-20 2xl:py-40 bg-gray-950" id="about">
	<div class="relative w-full mb-20 lg:w-1/2 lg:ml-auto lg:mb-0">
		<Image
			src={aboutImg}
			class="top-0 right-0 hidden object-cover w-full lg:block lg:absolute h-128"
			loading="lazy"
			format="webp"
			fit="cover"
			widths={[400, 800]}
			alt="Man, sitting down, on his phone, looking at a laptop"
		/>
		<Image src={aboutImg} class="object-cover w-full lg:hidden h-96" loading="lazy" format="webp" fit="cover" widths={[400, 800]} alt="Man, sitting down, on his phone, looking at a laptop" />
	</div>
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap -mx-4">
			<div class="w-full px-4 lg:w-1/2">
				<div class="max-w-lg">
					<p class="mb-6 text-xl font-bold text-white font-paragraph">This is the</p>
					<h2 class="mb-12 text-5xl font-bold text-red-800 lg:text-7xl font-title">Final Frontier</h2>
					<h3 class="mb-12 text-xl font-bold text-white lg:mb-20 font-paragraph lg:text-4xl">Real Estate Managers for Central Illinois</h3>
					<div class="mb-8 pb-14">
						<div class="max-w-lg">
							<p class="text-lg text-gray-200">
								At Final Frontier Homes, we believe that buying and selling property shouldn’t feel like navigating an asteroid field. Whether you're a homeowner looking for a fast, hassle-free sale
								or an investor searching for off-market opportunities, we make the process smooth and transparent.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---why choose us here -->
		<div class="container px-4 mx-auto">
			<div>
				<div class="flex flex-wrap -mx-6 lg:-mx-14">
					<div class="w-full px-6 mb-16 md:w-1/2 lg:w-1/4 lg:px-14 lg:mb-0">
						<div class="py-px mb-12 bg-gray-500"></div>
						<h3 class="mt-12 mb-8 text-lg font-bold text-white font-heading">Warp-Speed Transactions</h3>
						<p class="text-lg text-gray-200">Sell your home fast, with cash offers in light-speed timeframes.</p>
					</div>
					<div class="w-full px-6 mb-16 md:w-1/2 lg:w-1/4 lg:px-14 lg:mb-0">
						<div class="py-px mb-12 bg-gray-500"></div>
						<h3 class="mt-12 mb-8 text-lg font-bold text-white font-heading">No Repairs, No Hassle</h3>
						<p class="text-lg text-gray-200">We buy properties as-is, no need for costly renovations.</p>
					</div>
					<div class="w-full px-6 mb-16 md:w-1/2 lg:w-1/4 lg:px-14 md:mb-0">
						<div class="py-px mb-12 bg-gray-500"></div>
						<h3 class="mt-12 mb-8 text-lg font-bold text-white font-heading">Investment Opportunities</h3>
						<p class="text-lg text-gray-200">Access hand-picked properties for flips, rentals, or long-term investments.</p>
					</div>
					<div class="w-full px-6 md:w-1/2 lg:w-1/4 lg:px-14">
						<div class="py-px mb-12 bg-gray-500"></div>
						<h3 class="mt-12 mb-8 text-lg font-bold text-white font-heading">A Transparent Process</h3>
						<p class="text-lg text-gray-200">No red alerts! We keep things simple, honest, and efficient.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
