---
import { Image } from "astro:assets"
import circleSVG from "../assets/circle.svg"
import starsSVG from "../assets/five-stars.svg"
import fullCircleSVG from "../assets/full-circle.svg"
---

<section class="relative py-20 2xl:py-40 bg-gray-950 overflow-hidden">
	<Image src={circleSVG} class="hidden lg:block absolute top-0 right-0 h-128 w-128 -mt-52 -mr-52" alt="Circle" />
	<Image src={fullCircleSVG} class="hidden lg:block absolute bottom-0 left-0 h-128 w-128 -mb-52" alt="Full Circle" />
	<Image src={starsSVG} class="block absolute bottom-0 left-0 h-24 md:h-32 lg:h-72 lg:ml-24 -mb-8" alt="Five Stars" />
	<div class="container px-3 mx-auto">
		<div class="max-w-3xl mx-auto text-center">
			<h2 class="my-10 text-5xl lg:text-6xl font-bold font-heading font-title text-white">Get Started Quickly</h2>
			<div class="max-w-md mx-auto">
				<p class="mb-20 text-lg text-gray-200 font-paragraph">Whether an Investor or a Home Owner, Reach out and Navigate the Real Estate Universe.</p>
				<a class="inline-block mb-4 sm:mb-0 sm:mr-4 py-5 px-12 text-white font-bold bg-sky-500 hover:bg-sky-600 rounded-full transition duration-200" href="#contact">For Homeowners</a><a
					class="inline-block py-5 px-12 text-white font-bold hover:border-amber-500 rounded-full bg-amber-400"
					href="#contact">For Investors</a
				>
			</div>
		</div>
	</div>
</section>
