---

---

<section class="py-16 2xl:py-16 bg-gray-950">
	<div class="container mx-auto px-4 mb-12 md:mb-20">
		<div class="max-w-4xl mx-auto text-center">
			<a class="inline-block mb-20 text-white text-xl font-bold" href="#"> <img class="h-16" src="images/FF-Text-White-500.svg" alt="" width="auto" /> </a>
			<ul class="mb-12 md:mb-20 flex flex-wrap items-center justify-center space-x-6 md:justify-between text-lg">
				<li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-gray-100" href="#">Home</a></li>
				<li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-gray-100" href="#">About</a></li>
				<li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-gray-100" href="#">Contact</a></li>
			</ul>
			<span class="font-bold text-gray-200">All rights reserved 2025</span>
		</div>
	</div>
</section>
