---
import "../styles/global.css"
import BaseHead from "../components/BaseHead.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="antialiased bg-body text-body font-body">
		<main x-data x-init="
		$store.formState = {
			userType: ''
		}
	">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
	}
</style>
